body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 30px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
